<div class="container">
  <div>
    <h1 id="contact_title">Contact Us</h1>
    <p id="contact_text">
      Have questions or want to integrate with <span id="bold_text"
        >Pocket Genes</span>?
    </p>
  </div>
  <div>
    <h3 id="contact_subtitle">Get in Touch</h3>
    <p class="contact_info">
      <span>I</span> Website: <a
        href="https://www.goldencrowvs.com"
        target="_blank"
        rel="noopener noreferrer">www.goldencrowvs.com</a
      >
    </p>
    <p class="contact_info">
      <span>I</span> Email: <a
        href="mailto: support@goldencrowvs.com"
        target="_blank"
        rel="noopener noreferrer">support@goldencrowvs.com</a
      >
    </p>
    <p class="contact_info"> 
      <span>I</span> LinkedIn: <a
        href="https://www.linkedin.com/company/golden-crow-vs/"
        target="_blank"
        rel="noopener noreferrer">Golden Crow VS</a
      >
    </p>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    background-color: #1a36b4;
    padding: 5rem;
  }

  #contact_title {
    font-size: 5rem;
  }

  #contact_text {
    width: 15vw;
    font-size: 1rem;
    margin-top: 1rem;
  }

  #contact_subtitle {
    font-size: 2.5rem;
  }

  .contact_info {
    font-size: 1rem;
    font-weight: bold;
  }

  #bold_text {
    font-weight: bolder;
  }

  a {
    font-weight: normal;
    text-decoration: none;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 2rem;
      height: 100vh;
    }

    #contact_title {
      font-size: 3rem;
    }

    #contact_text {
      width: auto;
      font-size: 2rem;
    }

    #contact_subtitle {
      font-size: 2rem;
    }

    .contact_info {
      font-size: 1rem;
    }
    
  }
</style>
